.listingTopContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1550px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #F9F9F9;
}

.listingMedia {
  /* border: 1px green dotted; */
  max-height: 800px;
  display: flex;
}

.media img {
  max-width: 100%;
  max-height: 100%;
}

.mediaScrollButton {
  width: 40px;
  display: flex;
  align-items: center;
  font-size: 3.5em;
  background-color: #DDDDDD;
}

.mediaScrollButton:hover {
  background-color: #777;
  color: #EEE;
  cursor: pointer;
}

.media {
  width: 100%;
}

.listingInfo {
  /* border: 1px red dotted; */
  background-color: #F9F9F9;
}

.bedBathAndCar {
  list-style: none;
  padding: 0;
}

.bedBathAndCar li {
  display: inline;
  margin: 0 20px;
  font-size: larger;
}

.description {
  text-align: justify;
  padding: 0 20px;
}

.backBar {
  margin: 0 auto 10px;
  max-width: 1550px;
  text-align: left;
}

.backButton {
  cursor: pointer;
  text-decoration: underline;
}
