.marker {
  /* border: 1px blue solid; */
  --marker-width: 180px;
  --marker-border-color: rgb(196, 196, 196);

  --image-box-height: 180px;
  --image-box-border-width: 1px;
  --image-box-border-radius: 8%;
  --image-box-margin: 0px;

  --pointer-height: 26px;
  --pointer-width: 80px;

  width: var(--marker-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: calc(var(--marker-width) / -2);
  top: -60px;
  /* z-index: 100; */
}

.markerImageBox {
  background-color: #fff;
  width: 100%;
  padding: 12px;
  height: var(--image-box-height);
  border: var(--image-box-border-width) var(--marker-border-color) solid;
  border-bottom-style: none;
  border-radius: var(--image-box-border-radius);
  margin-bottom: var(--image-box-margin);
  overflow: hidden;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 30px;
  /* z-index: 100; */
}

.markerImageBox img {
  border: 1px var(--marker-border-color) solid;
}

.markerPointer {
  width: 60px;
  height: 60px;
  /* border: 1px solid black; */
  background-color: white;
  transform: rotate(45deg);
  /* position: absolute;
  bottom: -30px; */
  /* z-index: 99; */
}
