.popup {
  --marker-width: 40px; /* from Marker.css */
  --marker-height: 56px;

  --popup-width: 260px;
  --popup-height: 320px;

  --popup-content-height: 280px;

  --arrow-size: 24px;

  --bg-color: #fff;

  width: var(--popup-width);
  height: var(--popup-height);
  position: absolute;
  top: calc((var(--popup-content-height) + var(--arrow-size) / 1.5) * -1);
  left: calc(var(--popup-width) / -2 + var(--marker-width) / 2);
  z-index: 100;
  /* border: 1px blue dotted; */
}

.arrow {
  width: 24px;
  height: 24px;
  background-color: var(--bg-color);
  transform: rotate(45deg);
  border-bottom: 2px solid black;
  border-right: 2px solid black;

  position: absolute;
  top: calc(var(--arrow-size) / -2 + var(--popup-content-height));
  left: calc(var(--popup-width) / 2 - var(--arrow-size) / 2);
}

.content {
  width: 100%;
  height: var(--popup-content-height);
  border: 2px solid black;
  border-radius: 8%;
  background-color: var(--bg-color);

  text-align: center;
  padding: 10px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content img {
  width: 100%;
  max-height: 180px;
}
