.googleMap {
  height: 100vh;
  width: 100%;
}

/* .propertyMapMarker {
  top: -50px;
  left: -34px;
  position: relative;
  transition: transform 500ms, left 500ms;
  z-index: auto;
}

.propertyMapMarker:hover {
  transform: scale(2, 2);
  left: -80px;
  z-index: 9999;
}

.propertyMapMarker img {
  max-width: 120px;
  max-height: 80px;
  border: 1px black solid;
}

.faveCard:hover {
  cursor: pointer;
} */
