.App {
  text-align: center;
}

.googleMap {
  display: inline-block;
  height: 81vh;
  width: 100%;
}

.propertyMapMarker {
  width: 100px;
  height: 68px;
  top: -50px;
  left: -50px;
  position: relative;
  background-color: rgba(255, 255, 255, .5);
  border: 1px black solid;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

a {
  color: #000;
}

.nav-toolbar > .btn {
  margin-right: 1rem;
}
