.App {
  text-align: center;
}

.googleMap {
  display: inline-block;
  height: 80vh;
  width: 50vw;
}

.propertyMapMarker {
  width: 100px;
  height: 100px;
  top: -50px;
  left: -50px;
  position: relative;
  background-color: rgba(255, 255, 255, .5);
  border: 1px black solid;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

